body {
  margin: 0px;
  background-image: url(https://i.ytimg.com/vi/082gNuEVns0/maxresdefault.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: red
}

canvas {
  margin: 20px;
  object-fit: cover;
}

img {
  display: none;
}
